@import "tailwindcss";

@theme inline {
  
  --color-ink: #223614;
  --color-paper: #FBF6F1;
  --color-lavender: #c2bfcb;


   --font-family-heading: var(--font-heading), sans-serif;
  --font-family-body: var(--font-heading), sans-serif;

 
  --font-family-sans: var(--font-heading), sans-serif;
  --font-family-serif: var(--font-heading), sans-serif; 
}

:root {
  --background: #FBF6F1;
  --foreground: #223614;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-body),sans-serif;
}


* {
  font-family: var(--font-heading), sans-serif;
}

button {
  font-family: inherit;
}